name: Scheduled Workflow

on:
  schedule:
    - cron: '* * * * *' # Runs every 1 minute

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run a script
        run: echo "This job runs on a schedule!"
